.nav-tabs.onboarding {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.5rem;
  border: none;
  // border-bottom: 0.05rem solid #e3ebf6;

  .nav-item {
    flex: 1 1 0px;

    .nav-link {
      color: $primary;
      text-align: center;
      display: flex;
      flex-direction: column;
      border: none;
      border-bottom: 0.1rem solid transparent;
    }

    .active {
      border-color: $primary;
    }

    .disabled {
      border-color: $gray-500;
      h5,
      span {
        color: $gray-500;
      }
    }

    .complete {
      border-color: $success;
      h5,
      span {
        color: $gray-500;
      }
    }
  }
}
