// Fonts
$font-weight-bold: 600;

// Theme colors
$blue: #2c7be5;
$pink: #9d7bd8;
$red: #e51c23;
$yellow: #ff9800;
$green: #4caf50;
$cyan: #47bac1;

$white: #fff;
$gray-100: #f4f7fa;
$gray-200: #e5eaef;
$gray-300: #dae0e6;
$gray-400: #cad2da;
$gray-500: #a3b1bd;
$gray-600: #60717d;
$gray-700: #3f4b57;
$gray-800: #2a3540;
$gray-900: #1d2329;
$black: #000;

$primary: #fb3767;
$secondary: #fbde76;
$tertiary: lighten($blue, 10%);
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: #354052;

// Body
$body-bg: #f6f9fc;
$body-color: $gray-700;

// Border radius
$border-radius-sm: 0.15rem;
$border-radius: 0.3rem;
$border-radius-lg: 0.45rem;

// Navbar
$navbar-border-bottom: 1px solid #e4ebf6;

// Card
$card-border-color: transparent;
$card-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1),
  0 3px 6px 0 rgba(0, 0, 0, 0.07);
$card-title-font-weight: $font-weight-bold;

// Sidebar general
$sidebar-bg: $white;
$sidebar-border: 1px solid #e4ebf6;

// Sidebar brand
$sidebar-brand-color: $gray-800;
$sidebar-brand-font-weight: $font-weight-bold;

// Sidebar header
$sidebar-header-color: $gray-600;
$sidebar-header-text-transform: uppercase;
$sidebar-header-font-size: 0.65rem;

// Sidebar link
$sidebar-link-font-weight: $font-weight-bold;
$sidebar-link-color: $gray-600;
$sidebar-link-hover-color: $black;
$sidebar-link-hover-bg: $white;
$sidebar-link-hover-font-weight: $font-weight-bold;
$sidebar-link-active-color: $primary;
$sidebar-link-active-bg: $white;
$sidebar-link-active-font-weight: $font-weight-bold;

// Sidebar child link
$sidebar-link-child-color: $gray-600;
$sidebar-link-child-bg: $white;
$sidebar-link-child-hover-color: $black;
$sidebar-link-child-hover-bg: $white;
$sidebar-link-child-active-color: $black;
$sidebar-link-child-active-bg: $white;

// Sidebar link icon
$sidebar-link-icon-color: $black;
$sidebar-link-icon-hover-color: $black;
$sidebar-link-icon-active-color: $primary;

// Sidebar bottom
$sidebar-bottom-color: $gray-800;
$sidebar-bottom-bg: $gray-100;

// Simplebar
$simplebar-scrollbar-bg: rgba(darken($primary, 50%), 0.175);

// Hamburger
$hamburger-width-top: 24px;
$hamburger-width-middle: 24px;
$hamburger-width-bottom: 14px;
